/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

/* Common css */
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.primary-color {
    color: #E55473;
}

.btn-primary {
    text-decoration: none;
    background-color: #E55473;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px 30px;
    color: #fff;
    font-weight: 700;
    border: 0;
}

.section-container {
    margin-top: 100px;
}

.section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.section-description {

    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding: 24px 0;

}

main {
    max-width: 1140px;
    margin: 0 auto;
}

/* header css */


/* nav css */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #E55473;

}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #ffffff;
}

.nav-title {
    font-size: 25px;
    color: #fff;
}

/* banner css */

.banner {
    background: rgba(229, 84, 115, 0.10);
    max-width: 1140px;
    margin: 0 auto;
    padding: 50px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.banner-image {
    width: 50%;
}

.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 900;

}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin: 30px 0;
}


/* Feature css */

.feature-description {
    width: 50%;
    margin: 0 auto;
}

.flower p {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}
.feature-content {
    display: flex;
    gap: 24px;
}